/* ======================================================================== *\

    C O M P O N E N T S - S T Y L E S - S H E E T

\* ======================================================================== */
/* ======================================================================== *\
    H T M L , B O D Y - F O N T
\* ======================================================================== */

html, body {
    font-family:  'Caveat', sans-serif;
    font-size:    16px;
}

/* ======================================================================== *\
    H E A D E R - T E X T
\* ======================================================================== */

.header-text {
    font-size:       clamp(2rem, 4vw, 3em);
    font-weight:     bold;
    letter-spacing:  clamp(0.2rem, 0.4vw, 0.3em);
    line-height:     10vh;
    color:           rgba(206, 146, 0, 1); 
    text-shadow:     0.3em 0.3em 0.6em rgba(0, 0, 0, 1), -0.1em -0.1em black;
    text-align:      left;
}


/* ======================================================================== *\
   M A I N
\* ======================================================================== */

    /* ======================================================================== *\
       C O N T R O L - P A N E L  
    \* ======================================================================== */

        /* ======================================================================== *\
           A C T I O N - B U T T O N
        \* ======================================================================== */

        /* ======================================================================== *\
            C O U N T E R  A N D  T I M E R
        \* ======================================================================== */

        .counter-text, 
        .timer-text {
            font-size:         clamp(2rem, 3.2vw, 2.4em);
            font-weight:       bold;
            letter-spacing:    Clamp(0.2rem, 0.32vw, 0.24em);
            color:             rgba(206, 146, 0, 1);
            text-shadow:       0.24rem 0.24rem 0.36rem black, -0.1rem -0.1rem black;
        }


        /* ======================================================================== *\
            G A M E  A N D  S E L E C T I O N
        \* ======================================================================== */

        .game-text, 
        .select-text {
            font-family:     'Caveat', sans-serif;
            font-size:       clamp(1rem, 1.5vw, 1.25em);
            font-weight:     bold;
            letter-spacing:  clamp(0.1rem, 0.15vw, 0.125em);
            color:           rgba(255, 255, 255, 0.75);
            text-shadow:     0.125rem 0.125rem 0.25rem black, -0.1rem -0.1rem black;
        }

            .game-text:hover, 
            .select-text:hover {
                text-decoration:  none;
                filter:           brightness(1.2);
                transition:       filter 0.5s;
            }


        /* ======================================================================== *\
            S E C T I O N  -  C O N T E N T
        \* ======================================================================== */

        /* ======================================================================== *\
            G A M E - P A G E
        \* ======================================================================== */

        .game-page {
            text-align:       center;
        }

            h3 {
                margin:           1.5rem 0rem 0.5rem 0rem;

                font-size:       clamp(1.2rem, 2.4vw, 1.8em);
                font-weight:     bold;
                letter-spacing:  clamp(0.12rem, 0.24vw, 0.18em);
                color:           rgba(255, 255, 255, 0.75);
                text-shadow:     0.25em 0.25em 0.25em rgba(68, 68, 68, 1), -0.1em -0.1em black;
            }

            p {
                font-size:       clamp(1rem, 2vw, 1.5em);
                letter-spacing:  clamp(0.1rem, 0.2vw, 0.15em);
                color:           rgba(255, 255, 255, 0.75);
                text-shadow:     -0.1em -0.1em black;
            }

            a {
                text-decoration:  none;
                font-size:        clamp(1.5rem, 2vw, 1.5em);
                letter-spacing:   clamp(0.15rem, 0.2vw, 0.15em);
                color:            rgba(206, 146, 0, 0.75);
                text-shadow:      0.1rem 0.1rem 0.1rem rgba(68, 68, 68, 1), -0.1rem -0.1rem black;
            }

                a:hover {
                    text-decoration:  none;
                    color:            rgba(139, 0, 0, 0.75);
                    transition:       color 0.5s;
                }


    /* ======================================================================== *\
        C A N V A S
    \* ======================================================================== */

/* ======================================================================== *\
    F O O T E R
\* ======================================================================== */

.footer-text {
    font-size:       clamp(1rem, 2vw, 1.5em);
    font-weight:     bold;
    letter-spacing:  clamp(0.1rem, 0.2vw, 0.15em);
    color:           rgba(255, 255, 255, 0.75);
    text-shadow:     0.25em 0.25em 0.25em rgba(68, 68, 68, 1), -0.1em -0.1em black;
}

    footer a {
        text-decoration:  none;
        font-size:        clamp(1.5rem, 2vw, 1.5em);
        letter-spacing:   clamp(0.15rem, 0.2vw, 0.15em);
        color:            rgba(206, 146, 0, 1);
    }

    footer a:hover {
        text-decoration:  none;
        color:            rgba(139, 0, 0, 0.75);
        transition:       color 0.5s;
    }