/* ======================================================================== *\

    L A Y O U T - S T Y L E - S H E E T . C S S

    CSS-fájl a játék elrendezéséhez.

    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    Az elrendezések a következő sorrendben vannak írva:

        1. G E N E R A L - S E T T I N G S  A N D  R E S E T S
        2. H E A D E R
        3. M A I N
            3.1. C O N T R O L - P A N E L
                3.1.1. A C T I O N - B U T T O N
                3.1.2. C O U N T E R  A N D  T I M E R
                3.1.3. G A M E  A N D  S E L E C T I O N
                3.1.4. D R O P - D O W N  -  C O N T E N T
                3.1.5. G A M E - P A G E
            3.2. C A N V A S
        4. F O O T E R
        5. M E D I A  -  Q U E R I E S

    A fájl tartalmazza a játék elrendezéséhez szükséges stílusokat.
    A stílusok a játék megjelenését és elrendezését befolyásolják.

\* ======================================================================== */

/* ======================================================================== *\
    G E N E R A L - S E T T I N G S  A N D  R E S E T S
\* ======================================================================== */

* {
    box-sizing: border-box;
}

html, body {
    margin:   0;     /* Nincs külső margó */
    padding:  0;     /* Nincs belső margó */
    height:   100%;  /* A képernyő magassága */
    width:    100%;  /* A képernyő szélessége */
}

/* Kényszerítjük, hogy a játék konténer mindig álló orientációban legyen */
body {
    display:           flex;    /* Flexbox */
    justify-content:   center;  /* Középre igazítjuk */
    align-items:       center;  /* Középre igazítjuk */
    overflow:          hidden;  /* Nem engedjük a görgetést */
}

    .landscape-warning {
        display:          flex;
        flex-direction:   column;
        justify-content:  center;
        align-items:      center;

        position:         fixed;
        top:              0;
        left:             0;
        width:            100vw;
        height:           100vh;
        padding:          5vh 10vw;
    }


/* ======================================================================== *\
    H E A D E R
\* ======================================================================== */

header {
    position:          fixed;
    top:               0;

    display:           flex;
    justify-content:   flex-start;
    align-items:       center;

    width:             100%;
    height:            10vh;
    padding:           0vh 5vw 0vh 5vw;
}

    .header-logo {
        width:   10vh;
        height:  10vh;
    }

    .header-text {
        width:   auto;
        height:  10vh;
    }


/* ======================================================================== *\
    M A I N
\* ======================================================================== */

main {
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;

    width:            100%;
    height:           auto;
    padding:          4vh 0vw 2vh 0vw;
    margin:           0;
}


    /* ======================================================================== *\
        C O N T R O L - P A N E L
    \* ======================================================================== */

    .control-panel-container {
        position:       relative;

        width:          30vw;  /* 30% of the screen width */
        height:         15vh;  /* 15% of the screen height */
        margin-bottom:  1vh;

        border:         none;
        border-radius:  1vh;
    }


        /* ======================================================================== *\
            A C T I O N - B U T T O N
        \* ======================================================================== */

        .action-button-image {
            position:       absolute;
            top:            0;
            left:           50%;
            transform:      translateX(-50%);

            width:          9vw;   /* 30% of the control panel */
            height:         15vh;  /* 100% of the control panel */
            margin:         0;
            padding:        0;

            border:         0.1vh solid black;
            border-radius:  1.5vh;
        }


        /* ======================================================================== *\
            C O U N T E R  A N D  T I M E R
        \* ======================================================================== */

        .piece-counter-number {
            position:  absolute;
            top:       1vh;
            left:      0;
        }

        .time-counter-number {
            position:  absolute;
            top:       1vh;
            right:     0;
        }

        .piece-counter-number, 
        .time-counter-number {
            display:          flex;
            justify-content:  center;
            align-items:      center;

            width:            9vw;  /* 30% of the control panel */
            height:           auto;
            padding:          0;
            margin:           0;
            border:           0.1vh solid black;
            border-radius:    1vh;
        }


        /* ======================================================================== *\
            G A M E  A N D  S E L E C T I O N
        \* ======================================================================== */

        .game-description-text {
            position:  absolute;
            bottom:    1vh;
            left:      0;
        }

        .difficulty-levels-text {
            position:  absolute;
            bottom:    1vh;
            right:     0;
        }

        .game-description-text,
        .difficulty-levels-text {
            display:          flex;
            justify-content:  center;
            align-items:      center;
            text-align:       center;

            width:            9vw;    /* 30% of the control panel */
            height:           4.5vh;  /* 30% of the control panel */  
            padding:          0;
            margin:           0;
        }


        /* ======================================================================== *\
            D R O P - D O W N  -  C O N T E N T
        \* ======================================================================== */

        #drop-down-content {
            display:          none;
            position:         absolute;
            top:              calc(1vh + 15vh);
            left:             0;

            width:            30vw;
            max-height:       0;
            padding:          0;
            margin:           0;

            border:           0.1vh solid black;
            border-radius:    1vh;

            overflow:         hidden;
            scrollbar-width:  none; /* Firefox */

            transition:       max-height 0.8s ease-in-out;
            z-index:          1;
        }

            #drop-down-content.show {
                display:     block;
                max-height:  30vw;
                overflow-y:  auto; /* Enable vertical scrolling */
            }

            /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
            #drop-down-content::-webkit-scrollbar {
                display:  none;
            }


        /* ======================================================================== *\
            G A M E - P A G E
        \* ======================================================================== */

        .game-description-page {
            display:  block;
            width:    100%;
            height:   100%;
            padding:  1vh 2vh 3vh 2vh;
        }


    /* ======================================================================== *\
        C A N V A S
    \* ======================================================================== */

    #myCanvas {
        width:         30vw;
        max-width:     600px;
        height:        auto;
        aspect-ratio:  1 / 1;
    }


/* ======================================================================== *\
    F O O T E R
\* ======================================================================== */

footer {
    position:         fixed;
    bottom:           0;
    
    display:          flex;
    justify-content:  flex-end;
    align-items:      center;

    width:            100%;
    height:           8vh;
    padding:          0vh 5vw 0vh 5vw;
}


/* ======================================================================== *\
    M E D I A  -  Q U E R I E S
\* ======================================================================== */

@media screen and (max-width: 768px) {
    .control-panel-container {
        width:   80vw;  /* 80% of the screen width */
        height:  20vw;  /* 20% of the screen height */
    }

        .action-button-image {
            width:   24vw;  /* 30% of the control panel */
            height:  20vw;  /* 100% of the control panel */
        }

        .piece-counter-number,
        .time-counter-number {
            width:   24vw;  /* 30% of the control panel */
            height:  auto;  /* Auto height */
        }

        .game-description-text,
        .difficulty-levels-text {
            width:   24vw;  /* 30% of the control panel */
            height:  6vw;  /* 30% of the control panel */
        }


    .drop-down-content-text {
        top:         calc(1vh + 20vw);  /* 20% of the screen height */
        width:       80vw;              /* 80% of the screen width */
        max-height:  0;                 /* Initially hidden */
    }

        .drop-down-content-text.show {
            max-height:  80vw;  /* 80% of the screen height */
        }


    .canvas-style {
        width:         80vw;   /* 80% of the screen width */
        max-width:     600px;  /* Maximum width */
        height:        auto;   /* Auto height */
        aspect-ratio:  1 / 1;  /* 1:1 aspect ratio */
    }
}


/* ======================================================================== *\
    E N D  O F  L A Y O U T - S T Y L E - S H E E T . C S S
\* ======================================================================== */