/* ======================================================================== *\
   L A Y O U T  -  S T Y L E  -  S H E E T
\* ======================================================================== */

* {
    box-sizing: border-box;
}


/* ======================================================================== *\
   H T M L  -  B O D Y  -  S E T T I N G S    
\* ======================================================================== */
  
html, body {
    width:            100%;
    height:           100%;
    margin:           0;
    padding:          0;

    font-family:     'Caveat', sans-serif;

    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;
}
  
body {
    background-image:     url("../assets/wooden_background.png");
    background-size:      cover;
    background-repeat:    no-repeat;
    background-position:  center;
}


/* ======================================================================== *\
   H E A D E R
\* ======================================================================== */

header {
    position:          fixed;
    top:               0;

    display:           flex;
    flex-direction:    row;
    align-items:       center;

    width:             100%;
    height:            10vh;
    padding:           0 5vw;

    background-color:  rgba(0, 0, 0, 0.5);
}

    .header-logo {
        width:              10vh;
        height:             10vh;

        background-image:   url('../assets/logo.png');
        background-size:    contain;
        background-repeat:  no-repeat;
    }

    .header-text {
        flex-grow:       1;
        font-size:       6vh;
        font-weight:     bold;
        letter-spacing:  0.6vh;
        color:           rgba(206, 146, 0, 1);
        text-shadow:     0.6vh 0.6vh 0.6vh rgba(0, 0, 0, 1);
        text-align:      left;
    }


/* ======================================================================== *\
   M A I N  -  S E T T I N G S
\* ======================================================================== */

main {
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;

    width:            100%;
    height:           100%;
    padding-top:      2vh;
}


    /* ======================================================================== *\
       C O N T R O L  -  P A N E L  
    \* ======================================================================== */

    .control-panel {
        position:          relative;

        width:             30vw;
        height:            15vh;
        margin-bottom:     2vh;

        background-color:  rgba(0, 0, 0, 0.2);
        padding:           1vh;
        border-radius:     1vh;
    }


        /* ======================================================================== *\
           B U T T O N - S T Y L I N G
        \* ======================================================================== */

        .button-container {
            position:   absolute;
            top:        0;
            left:       50%;
            transform:  translateX(-50%);

            width:      30%;
            height:     100%;
        }

            .button-image {
                width:              100%;
                height:             100%;
                border:             0.1vh solid black;
                border-radius:      1.5vh;

                background-image:   url("../assets/button.png");
                background-size:    contain;
                background-repeat:  no-repeat;
    
                cursor:             pointer;
                text-decoration:    none;
            }


        /* ======================================================================== *\
           C O U N T E R  -  A N D  -  T I M E R  -  S T Y L I N G
        \* ======================================================================== */

        .counter-container {
            position:  absolute;
            top:       1vh;
            left:      0;
        }

        .timer-container {
            position:  absolute;
            top:       1vh;
            right:     0;
        }

        .counter-container,
        .timer-container {
            width:                30%;
            height:               40%;
            border:               0.1vh solid black;
            border-radius:        1vh;

            text-align:           center;

            background-image:     url("../assets/counter.png");
            background-size:      cover;
            background-repeat:    no-repeat;
            background-position:  center;
        }

        .counter-number,
        .timer-number {
            font-size:         3rem;
            font-weight:       bold;
            letter-spacing:    0.3vh;
            line-height:       5vh;
            color:             white;
            text-shadow:       1px 1px 2px black;
        }

        /* ======================================================================== *\
           T E X T  -  A N D  -  S E L E C T  -  S T Y L I N G
        \* ======================================================================== */

        .text-container {
            position:  absolute;
            bottom:    1vh;
            left:      0;

            width:     30%;
            height:    30%;
        }

        .select-container {
            position:  absolute;
            bottom:    1vh;
            right:     0;

            width:     30%;
            height:    30%;
        }

        .button-text,
        .select-text {
            cursor:            pointer;
            text-align:        center;

            width:             100%;
            height:            100%;

            background-color:  rgba(206, 146, 0, 1);
            border:            0.1vh solid black;
            border-radius:     1vh;

            font-family:       'Caveat', sans-serif;
            font-size:         1.2rem;
            font-weight:       bold;
            letter-spacing:    0.2vh;
            line-height:       30%;
            color:             white;
            text-shadow:       1px 1px 2px black;
        }


        /* ======================================================================== *\
           D R O P D O W N  -  C O N T E N T
        \* ======================================================================== */

        .dropdown-content {
            display:           none;
            position:          absolute;
            top:               17vh;  /* 170px */
            left:              0;

            text-align:        center;  /* center */
            background-color:  rgba(206, 146, 0, 1);  /* #ce9200 */

            width:             30vw;  /* 300px */
            max-height:        0;
            padding:           1vh;   /* 10px */
            border:            0.1vh solid black;
            border-radius:     1vh;

            overflow:          hidden;
            scrollbar-width:   none;
            overflow-y:        auto;
            z-index:           1;

            transition:        max-height 3s ease-in-out;
        }

            .dropdown-content.show {
                display:     block;
                max-height:  30vw;  /* 300px */
            }


            /* ======================================================================== *\
               D R O P D O W N  -  I T E M S
            \* ======================================================================== */

            h3 {
                margin-top:      1rem;
                font-size:       2rem;
                font-weight:     bold;
                letter-spacing:  0.2vh;
                color:           white;
                text-shadow:     1px 1px 2px black;
            }

            p {
                font-size:       1.2rem;
                letter-spacing:  0.12vh;
                color:           white;
                text-shadow:     1px 1px 2px black;
            }

            a {
                text-decoration:  none;
                font-size:        2rem;
                letter-spacing:   0.1vh;
                color:            white;
                text-shadow:      1px 1px 2px black;
            }

                a:hover {
                    text-decoration:  none;
                    color:            rgba(206, 146, 0, 0.5);
                    transition:       color 0.5s;
                }


    /* ======================================================================== *\
       C A N V A S  -  F O R  M I N E S W E E P E R
    \* ======================================================================== */

    #myCanvas {
        width:             30vw;
        height:            30vw;
        order:             2px solid black;
        background-color:  #ccc;
    }

/* ======================================================================== *\
   F O O T E R
\* ======================================================================== */

footer {
    position:         fixed;
    bottom:           0;

    display:          flex;
    justify-content:  flex-end;
    align-items:      center;

    width:            100%;
    height:           8vh;
    padding:          2vh 6vw;

    background-color: rgba(0, 0, 0, 0.5);
    color:            white;
    font-size:        1.2rem;
}

footer a {
    color:           rgba(206, 146, 0, 1);
    text-decoration:  none;
}

footer a:hover {
    text-decoration:  none;
    color:           rgba(206, 146, 0, 0.5);
    transition:      color 0.5s;
}


/* ======================================================================== *\
   R E S P O N S I V E  -  D E S I G N  -  7 6 8  P I X E L S
\* ======================================================================== */

@media (max-width: 768px) {
    .control-panel {
        width:  90vw;
        height: 22vw;
    }

    #myCanvas {
        width:   90vw;
        height:  90vw;
    }

    .dropdown-content {
        width:      90vw;
        max-height:  0;
    }
        .dropdown-content.show {
            display:     block;
            max-height:  90vw;
        }
}