/*  ========================================================================  *\

    L A Y O U T  -  S T Y L E  -  S H E E T

\*  ========================================================================  */
* {
    box-sizing:   border-box;
    user-select:  none;
}

/*  ========================================================================  *\
    H T M L  -  B O D Y  -  S E T T I N G S    
\*  ========================================================================  */
  
html, body {
    width:         100%;
    height:        100%;
    margin:        0;
    padding:       0;

    font-family:  'Caveat', sans-serif;
}
  
body {
    background-image:       url("../assets/wooden_background.png");
    background-size:        contain;
    background-repeat:      repeat;
    background-position-y:  18vh;
}

/*  ========================================================================  *\
    H E A D E R
\*  ========================================================================  */

header {
    position:         fixed;
    top:              0;
    
    display:          flex;
    flex-direction:   row;
    justify-content:  flex-start;
    align-items:      center;

    width:            100%;
    height:           10vh;  /* 100px */
    padding:          0vh 5vw 0vh 5vw;  /* 0px 50px */
}

    .header-logo {
        width:              10vh;  /* 60px */
        height:             10vh;  /* 60px */

        background-image:   url('../assets/logo.png');
        background-size:    cover;
        background-repeat:  no-repeat;
    }

    .header-text {
        width:    100%;
        height:   auto;
        padding:  2vh 0vh 2vh 0vh;  /* 20px 50px 20px 0px */

            font-size:       6vh;    /* 60px */
            font-weight:     bold;
            letter-spacing:  0.6vh;  /* 12px */
            line-height:     6vh;    /* 80px */
            color:           rgba(206, 146, 0, 1);;
            text-shadow:     0.6vh 0.6vh 0.6vh rgba(0, 0, 0, 1), -0.2vh -0.2vh black;
    }

/*  ========================================================================  *\
    M A I N  -  S E T T I N G S
\*  ========================================================================  */

main {
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;

    width:            100%;
    height:           100%;
}

    /*  ========================================================================  *\
        C O N T R O L  -  P A N E L  
    \*  ========================================================================  */
  
    .control-panel {
        position:       relative;

        width:          30vw;  /* 300px */
        height:         15vh;  /* 150px */
        margin-bottom:  2vh;  /* 20px */
    }

        /*  ========================================================================  *\
            C O U N T E R  -  C O N T A I N E R   
        \*  ========================================================================  */

        .counter-container, 
        .counter-image {
            position:  absolute;
            top:       1vh;  /* 10px */
            left:      0;
        }

            .counter-image {
                background-image:   url('../assets/counter.png'); 
                background-size:    cover; 
                background-repeat:  no-repeat;

                width:              18vh;  /* 180px */
                height:             6vh;   /* 60px */
                border:             none;
                border-radius:      1vh;  /* 10px */
            }

            .counter-number {
                position:      absolute;
                top:           1vh;  /* 10px */
                left:          0;
                padding-left:  4vh;  /* 15px */
            }

        /*  ========================================================================  *\
            T E X T  -  C O N T A I N E R
        \*  ========================================================================  */

        .text-container, 
        .text-image, 
        .text-content {
            position:       absolute;
            bottom:         1vh;  /* 10px */
            left:           0;

            width:          18vh;  /* 180px */
            height:         4vh;  /* 40px */
            border:         none;  
            border-radius:  1vh;  /* 10px */
        }

        /*  ========================================================================  *\
            D R O P D O W N  -  C O N T E N T
        \*  ========================================================================  */
    
        .dropdown-content {
            display:           none;
            position:          absolute;
            top:               17vh;  /* 170px */
            left:              0;

            text-align:        center;  /* center */
            background-color:  rgba(206, 146, 0, 1);  /* #ce9200 */

            width:             30vw;  /* 300px */
            max-height:        0vw;   /* 0px */
            padding:           1vh;   /* 10px */
            border:            0.1vh solid rgba(0, 0, 0, 0.5);  /* 1px */
            border-radius:     1vh;  /* 10px */

            overflow:          hidden;
            scrollbar-width:   none;
            overflow-y:        auto;
            z-index:           1;

            transition:        max-height 3s ease-in-out;
        }
    
            .dropdown-content.show {
                display:     block;
                max-height:  30vw;  /* 300px */
            }
            
    
        /*  ========================================================================  *\
            B U T T O N  -  C O N T A I N E R    
        \*  ========================================================================  */

        .button-container {
            position:   absolute;
            top:        0;
            left:       50%;
            transform:  translateX(-50%);
        }

            .button {
                cursor:             pointer;
                width:              20vh;  /* 200px */
                height:             15vh;  /* 150px */
                border-radius:      1.5vh;  /* 15px */

                background-image:   url('../assets/button.png');
                background-size:    cover;
            }

        /*  ========================================================================  *\
            T I M E R  -  C O N T A I N E R
        \*  ========================================================================  */

        .timer-container, .timer-image {
            position:  absolute;
            top:       1vh;  /* 10px */
            right:     0;
        }

            .timer-image {
                background-image:   url('../assets/counter.png'); 
                background-size:    cover; 
                background-repeat:  no-repeat;

                width:              18vh;  /* 180px */
                height:             6vh;   /* 60px */
                border:             none;
                border-radius:      1vh;  /* 10px */
            }

            .timer-number {
                position:       absolute;
                top:            1vh;  /* 10px */
                right:          0;
                padding-right:  4vh;  /* 20px */
            }


        /*  ========================================================================  *\
            S E L E C T  -  C O N T A I N E R
        \*  ========================================================================  */

        .select-container, 
        .select {
            position:       absolute;
            bottom:         1vh;  /* 10px */
            right:          0;

            width:          18vh;  /* 180px */
            height:         4vh;  /* 40px */
            border-radius:  1vh;  /* 10px */
        }
        
        .text-content, 
        .select {
            cursor:            pointer;
            border:            0.1vh solid rgba(0, 0, 0, 0.5);  /* 1px */
            border-radius:     1vh;  /* 10px */
            background-color:  rgba(206, 146, 0, 1);  /* #ce9200 */
        }

        /*  ========================================================================  *\
            T E X T  -  C O N T E N T
        \*  ========================================================================  */

        h3, a, 
        .text-content, .select, 
        option {
            text-align:       center;
            text-decoration:  none;

            font-family:     'Caveat', sans-serif;
            font-size:        2.4vh;  /* 24px */
            font-weight:      bold;
            letter-spacing:   0.24vh;  /* 2.4px */
            line-height:      4vh;  /* 40px */
            color:            black;
            text-shadow:      1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
        }

            a:hover {
                font-size:    3vh;  /* 30px */
                font-weight:  bold;
                text-shadow:  1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
                color:        yellow;
                transition:   1s;  /* 1second */  
            }

        p {
            font-size:       2.4vh;  /* 24px */
            font-weight:     bold;
            letter-spacing:  0.2vh;  /* 2px */
            line-height:     3vh;  /* 30px */
            color:           black;
        }
  
        .counter-number, 
        .timer-number {
            font-size:       6vh;  /* 60px */
            font-weight:     bold;
            letter-spacing:  0.6vh;  /* 6px */
            line-height:     6vh;  /* 60px */
            color:           rgba(0, 0, 0, 0.75);
            text-shadow:     1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
        }

        .ui-element {
            border:      0.1vh solid rgba(0, 0, 0, 0.5);  /* 1px */
            box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.5);
        }

/*  ========================================================================  *\
    F O O T E R
\*  ========================================================================  */

footer {
    position:         fixed;
    bottom:           0;
    
    display:          flex;
    justify-content:  flex-end;
    align-items:      center;

    width:            100%;
    height:           8vh;  /* 80px */
    padding:          2vh 6vw 2vh 6vw;  /* 20px 50px */
}

/*  ========================================================================  *\

    @media  -  R E S P O N S I V E  -  D E S I G N

\*  ========================================================================  */

@media (max-width: 768px) {
    .control-panel {
        width:  90vw;  /* 300px */
    }

        .dropdown-content {
            width:             90vw;  /* 300px */
            max-height:        0vw;   /* 0px */

            transition:        max-height 3s ease-in-out;
        }

            .dropdown-content.show {
                display:     block;
                max-height:  90vw;  /* 300px */
            }
}