/* ======================================================================== *\
    T H E M E  -  S T Y L E  -  S H E E T
\* ======================================================================== */
/* ======================================================================== *\
    B O D Y
\* ======================================================================== */

body {
    background-image:     url("../assets/wooden_background.webp");
    background-size:      cover;
    background-repeat:    no-repeat;
    background-position:  center;
}


/* ======================================================================== *\
    H E A D E R
\* ======================================================================== */

header {
    background-color:  rgba(0, 0, 0, 0.5);
}

    .header-logo {
        background-image:     url('../assets/logo.webp');
        background-size:      contain;
        background-repeat:    no-repeat;
        background-position:  center;
    }


/* ======================================================================== *\
    M A I N
\* ======================================================================== */

main {
    background-color:  none;
}


    /* ======================================================================== *\
       C O N T R O L - P A N E L  
    \* ======================================================================== */

    .control-panel {
        background-color:  rgba(0, 0, 0, 0.25);
    }

        .control-panel:hover {
            background-color:  rgba(0, 0, 0, 0.5);
            transition:        background-color 0.5s;
        }

        .control-panel:active {
            background-color:  rgba(0, 0, 0, 0.5);
            transition:        background-color 0.5s;
        }


        /* ======================================================================== *\
           B U T T O N - S T Y L I N G
        \* ======================================================================== */

        img {
            cursor:             pointer;
            text-decoration:    none;

            background-image:   url("../assets/button-start.png");
            background-size:    contain;
            background-repeat:  no-repeat;
        }

            img:hover {
                text-decoration:  none;
                filter:           brightness(1.4);
                transition:       filter 0.5s;
            }

            img:active {
                text-decoration:  none;
                filter:           brightness(1.4);
                transition:       filter 0.5s;
            }


        /* ======================================================================== *\
            C O U N T E R   A N D   T I M E R - S T Y L I N G
        \* ======================================================================== */

        .counter-container,
        .timer-container {
            text-align:           center;

            background-image:     url("../assets/counter.png");
            background-size:      cover;
            background-repeat:    no-repeat;
            background-position:  center;
        }


        /* ======================================================================== *\
            T E X T  A N D  S E L E C T - S T Y L I N G
        \* ======================================================================== */


        /* ======================================================================== *\
            D R O P D O W N  -  C O N T E N T
        \* ======================================================================== */

        .dropdown-content {
            background-color:  rgba(206, 146, 0, 0.9);
        }


        /* ======================================================================== *\
            G A M E - P A G E
        \* ======================================================================== */

        /* ======================================================================== *\
            D R O P D O W N  -  I T E M S
        \* ======================================================================== */

    /* ======================================================================== *\
       C A N V A S  -  F O R  M I N E S W E E P E R
    \* ======================================================================== */

    #myCanvas {
        border:            0.1vh solid black;
        background-color:  rgba(206, 146, 0, 0.9); 
    }

/* ======================================================================== *\
    F O O T E R
\* ======================================================================== */

footer {
    background-color:  rgba(0, 0, 0, 0.5);
}


/* ======================================================================== *\

    R E S P O N S I V E - D E S I G N - 7 6 8  P I X E L S

\* ======================================================================== */