/* ======================================================================== *\

    T H E M E  -  S T Y L E  -  S H E E T

\* ======================================================================== */
/* ======================================================================== *\
    B O D Y
\* ======================================================================== */

body {
    background-image:     url("../assets/wooden_background.webp");
    background-size:      cover;
    background-repeat:    no-repeat;
    background-position:  center;
}

#landscape-warning {
    background-color:  rgba(206, 146, 0, 0.9);
}


/* ======================================================================== *\
    H E A D E R
\* ======================================================================== */

header {
    background-color:  rgba(0, 0, 0, 0.5);
}

    .header-logo {
        background-image:     url('../assets/logo.webp');
        background-size:      contain;
        background-repeat:    no-repeat;
        background-position:  center;
    }


/* ======================================================================== *\
    M A I N
\* ======================================================================== */

    /* ======================================================================== *\
       C O N T R O L - P A N E L  
    \* ======================================================================== */

    #control-panel {
        background-color:  rgba(0, 0, 0, 0.25);
    }

        #control-panel:hover {
            background-color:  rgba(0, 0, 0, 0.5);
            transition:        background-color 0.5s;
        }

        #control-panel:active {
            background-color:  rgba(0, 0, 0, 0.5);
            transition:        background-color 0.5s;
        }


        /* ======================================================================== *\
            A C T I O N  -  B U T T O N
        \* ======================================================================== */

        .button-image {
            cursor:             pointer;
            text-decoration:    none;

            background-image:   url("../assets/button-start.webp");
            background-size:    contain;
            background-repeat:  no-repeat;
        }

            .button-image:hover {
                text-decoration:  none;
                filter:           brightness(1.2);
                transition:       filter 0.5s;
            }

            .button-image:active {
                text-decoration:  none;
                filter:           brightness(1.2);
                transition:       filter 0.5s;
            }


        /* ======================================================================== *\
            C O U N T E R  A N D  T I M E R
        \* ======================================================================== */

        .counter-text,
        .timer-text {
            background-image:     url("../assets/counter.webp");
            background-size:      cover;
            background-repeat:    no-repeat;
            background-position:  center;
        }


        /* ======================================================================== *\
            G A M E  A N D  S E L E C T I O N
        \* ======================================================================== */

        .game-text,
        .select-text {
            cursor:            pointer;
            text-decoration:   none;

            background-color:  rgba(206, 146, 0, 0.9);
            border:            0.1vh solid black;
            border-radius:     1vh;
        }


        /* ======================================================================== *\
            S E C T I O N  -  C O N T E N T
        \* ======================================================================== */

        section {
            background-color:  rgba(206, 146, 0, 0.9);
        }


        /* ======================================================================== *\
            G A M E - P A G E
        \* ======================================================================== */

    /* ======================================================================== *\
        C A N V A S
    \* ======================================================================== */

    #myCanvas {
        border:            0.1vh solid black;
        background-color:  rgba(206, 146, 0, 0.9); 
    }

/* ======================================================================== *\
    F O O T E R
\* ======================================================================== */

footer {
    background-color:  rgba(0, 0, 0, 0.5);
}


/* ======================================================================== *\
    M E D I A  -  Q U E R I E S
\* ======================================================================== */

/* ======================================================================== *\
    E N D  -  O F  -  S T Y L E  -  S H E E T
\* ======================================================================== */